{% extends 'who_wore_it_best/base.html' %}

{% load static %}

{% block content %}

    <h1 class="text-center">Vote for Who you think wore it best ! </h1>


    <div>
        <div class="d-flex justify-content-center">
            <div class="card-group">
            <div class="card text-bg-warning mb-3 text-center" style="max-width: 20rem;">
                <img src="{% static 'who_wore_it_best/images/Rajesh_Yellow.jpg' %}" class="card-img-top" style="height: 26vw;" alt="...">
            </div>


            <div class="card text-bg-warning mb-3 text-center" style="max-width: 20rem;">
                <img src="{% static 'who_wore_it_best/images/Naresh_Yellow.jpg' person_submitting_vote.value %}" class="card-img-top" style="height: 26vw;" alt="...">
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary"> Vote </button>
            </form>
        </div>
    </div>

{% endblock %}